.container {
    margin: 5px;
}


/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Yaldevi', sans-serif; */

body {
    font-family: 'Raleway', sans-serif;
}

.forecast-weather {
    display: flex;
}

h3 {
    font-size: 1.5rem;
    display: block;
    
}

h4 {
    font-size: 1.2rem;
    
}




ul {
    padding: 0;
}

.citylist {
    list-style-type: none;
    background-color: gray;
    padding: 5px;
    margin: 2px;
    text-align: center;
    color: white;
    position: relative;
    left: -100;

}